body {
  font-family: Arial, sans-serif;
  background-color: #ede8f5;
  margin: 0;
  padding: 0;
}

.container {
  max-width:max-content;
  margin: 100px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
}

.form {
  text-align: center;
}

label {
  display: block;
  margin-bottom: 10px;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

button {
  padding: 10px 20px;
  background-color: #595599;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #706cae;
}



/* CSS FOR MEETING ROOM */
.video-container {
  flex-grow: 1;
  position: relative;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.participant-videos {
  position: absolute;
  top: 10px;
  right: 10px;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  /* border: 1px solid black; */
  /* background-color: #595599;
  color: #fff; */
  padding: 10px;
  text-align: center;
}

.nav-menu-item {
  text-align: center;
  padding: 10px;
  margin: 5px;
  /* border: 1px solid black; */
}

.nav-menu-toggle{
  display: flex;
  flex-direction: column;
  /* border: 1px solid black; */
  margin: 5px;
  align-items: center;
  /* justify-content: center; */
}

/* .navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar ul li {
  display: inline;
  margin-right: 20px;
}

.navbar ul li a {
  color: #fff;
  text-decoration: none;
} */

.video-toggle-btn {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.video-toggle-btn input {
  display: none;
}

.audio-toggle-btn {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.audio-toggle-btn input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color:#7470ad;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
 background-color: #fff;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #5f9955;
}

input:focus + .slider {
  box-shadow: 0 0 1px #595599;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.videos-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
}

.remote-videos-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
 
}

.remote-video {
  height: 150px;
  width: 150px;
  margin: 5px;
  border: 0.5px solid black;
  object-fit: cover;
}

.local-video {
  height: 200px;
  width: 100%;
  margin: 5px;
  border: 0.5px solid black;
  object-fit: cover;
}

.meeting-room{
  display: none;
}

.displayName {
  text-align: center;
  color: #fff;
  padding: 0;
  margin: 0;
}


.chatbox-container {
  display: none;
  flex-direction: column;
  background-color: white;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 10%;
  top: 50%;
  transform: translate(-10%, -50%);
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.chatbox {
  display: flex;
  width: 400px;
  box-sizing: border-box;
  flex-direction: column;
  height: 400px;
  /* border: 1px solid black; */
  margin: 10px;
  padding: 10px;
  overflow: auto;
}

.message {
  width: 50%;
  align-self: flex-start;
  margin: 5px;
  padding: 5px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.message-header {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.message-content {
  margin: 1px 5px;
  color: black;
  font-size: 14px;
  word-wrap: break-word;
}

.profile-pic {
  margin: 1px;
  height: 30px;
  width: 30px;
}

.message-subHeader {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.message-from {
  margin: 1px;
  color: black;
  font-size: 12px;
}

.message-time {
  margin: 1px;
  color: black;
  font-size: 12px;
}

.close-button {
  padding: 5;
  background-color: gray
  }


 /* Dropdown container */
 .participants-dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown button */
.dropbtn {
  /* background-color: #4caf50;
  color: white; */
  /* padding: 10px; */
  font-size: 16px;
  /* border: none; */
  cursor: pointer;
}

/* Dropdown content (hidden by default) */
.participants-dropdown-content {
  display: none;
  padding: 10px;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Show the dropdown menu on hover */
.show {
  display: block;
}