`<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Verify your Email</title>
  </head>

  <body style="box-sizing: border-box; padding: 0; margin: 0">
    <div
      style="
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #fff;
      "
    >
      <div style="box-sizing: border-box; color: #000; padding: 20px">
        <!-- <img style="height: 100px;width:100px;" src="../assets/zoom_logo_dark.png" /> -->
        <div style="background-color: #ede8f5; padding: 5px">
          <h3 style="text-align: center; color: #000">Verify your Email</h3>
        </div>

        <div style="padding: 10px 5px">
          <h4 style="margin: 10px 0px 2px 0px">Hello User,</h4>
          <p style="margin: 2px 0px">
            Enter the code below to verify your email address to continue with
            your sign up.
          </p>
          <p style="text-align: center"><b>Verfication Code: #V-CODE#</b></p>
        </div>

        <div style="padding: 10px 5px">
          <p style="margin: 0">Regards,</p>
          <p style="margin: 0">OFLEP</p>
        </div>

        <div style="margin-top: 5px; padding: 10px 5px">
          <p>
            For any query or support, contact us at
            <a href="#SUPPORT_MAIL#">#SUPPORT_MAIL#</a>
          </p>
        </div>

        <div
          style="text-align: left; background-color: #ede8f5; padding: 5px 10px"
        >
          <p style="text-align: center">
            <b>NOTE:</b>
            <span style="text-align: left"
              >If you have not initiated this request,kindly ignore the
              mail.</span
            >
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
